body {
    font-family: sans-serif;
}

#auth-section, #logged-in-section {
    margin-bottom: 20px;
}

#login-form, #register-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    margin-bottom: 5px;
    padding: 5px;
}